<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<div class="showing">
    <h2>SpringBoot+mybatis</h2>

    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c: ${category}">
            <td align="center" th:text="${c.id}"></td>
            <td align="center" th:text="${c.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>